body {
  background-color: rgb(251, 224, 184);
  display: flex;
}

#sidepage1 {
  flex: 1;
  max-width: 30vh;
  height: 93vh;
  width: 10vh;
  margin: 10px;
  margin-left: 10px;
  background-color: rgb(162, 181, 201);
  border-radius: 10px;
  padding: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fieldsetSide {}

.txtspace {
  margin: 3px;
  padding: 0px;
}

#chatroom1 {
  flex: 2;
  background-color: tan;
  border-radius: 10px;
  margin-left: 10vh;
  margin-top: 1vh;
  padding: 12px;
  max-width: 140vh;
  height: 93vh;
  border: 3px solid rgb(186, 159, 123);
}


#messageContainer {
  padding: 10px;
  height: 75vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 15px;
}

.reciveMessage-bubble {
  background-color: rgb(188, 203, 249);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 70%;
}

.sendMessage-bubble {
  background-color: rgb(67, 238, 147);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 70%;
  margin-left: auto;
  margin-right: 0px;
}

.user-message {
  align-self: flex-end;
}

#logoutBtn {
  display: block;
}

#messageInputTxt {
  background-color: rgb(238, 234, 234);
  padding: 15px;
  border-radius: 18px;
  margin-top: 5px;
  height: 5vh;
  width: 124vh;
  overflow-y: auto;
}

#messageInputBtn {
  height: 6vh;
  width: 10vh;
  border-radius: 18px;
  padding: 15px;
  background-color: rgb(199, 197, 197);
}
