body {
  background-color: rgb(251, 224, 184);
  display: flex;
}

#sidepage1 {
  flex: 1;
  max-width: 30vh;
  height: 93vh;
  width: 10vh;
  margin: 10px;
  margin-left: 10px;
  background-color: rgb(162, 181, 201);
  border-radius: 10px;
  padding: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fieldsetSide {
  border: none;
  padding: 10px;
}
#loginUsername, #loginPassword {
  width: 12vw;
  padding: 6px;
  margin-bottom: 3px;
  border-radius: 10px;
  border: 0px;
}

#chatroomsList {
  margin-top: 34vh;
}

.chatroomTitle {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chatroomBtn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatroomBtn:hover {
  background-color: #f0f0f0;
}

.txtspace {
  margin: 3px;
  padding: 0px;
}

.chatroom {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chatroom1 {
  flex: 2;
  background-color: rgb(210, 200, 187);
  border-radius: 10px;
  margin-left: 10vh;
  margin-top: 1vh;
  padding: 12px;
  max-width: 140vh;
  height: 93vh;
  border: 3px solid rgb(121, 116, 109);
}

#chatroom2 {
  flex: 2;
  background-color: tan;
  border-radius: 10px;
  margin-left: 10vh;
  margin-top: 1vh;
  padding: 12px;
  max-width: 140vh;
  height: 93vh;
  border: 3px solid rgb(186, 159, 123);
}

.messageContainer {
  padding: 10px;
  height: 75vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 15px;
}

.reciveMessage-bubble {
  background-color: rgb(188, 203, 249);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 70%;
}

.sendMessage-bubble {
  background-color: rgb(67, 238, 147);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px ;
  max-width: 70%;
  margin-left: auto;
  margin-right: 0px;
  
}

.user-message {
  align-self: flex-end;
}

#logoutBtn {
  display: block;
}

.messageInputTxt {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px;
  margin-top: 10px;
  height: 50px;
  width: 60vw;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.messageInputTxt:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 10px rgba(102, 175, 233, 0.6);
}

.messageInputBtn {
  height: 70px; /* Match input height */
  width: 120px; 
  border-radius: 25px; /* Match input border radius */
  padding: 15px;
  margin-left: 10px;
  background-color: #4CAF50; /* Green color */
  color: #fff; /* White text */
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.messageInputBtn:hover {
  background-color: #45a049; /* Darker green on hover */
}
